@charset "utf-8";

header{
    text-align: left;
    padding-top: 25px;
    padding-bottom: 25px;
}

h2{
    font-weight: bold;
	line-height: 20px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 30px
	}
	
header a {
    color:bold;
    text-decoration: none;
	font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table, th, td 
{ border: thin solid; }







